[submodule "lib/cxxopts"]
	path = lib/cxxopts
	url = https://github.com/jarro2783/cxxopts.git
[submodule "lib/rang"]
	path = lib/rang
	url = https://github.com/agauniyal/rang.git
[submodule "lib/spdlog"]
	path = lib/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "lib/backward-cpp"]
	path = lib/backward-cpp
	url = https://github.com/bombela/backward-cpp.git
